{% extends 'base.html' %}

{%  block title %}Добавить участника{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<a href="/student?id={{ student.id }}">Назад</a>

{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>Ошибка! </strong>{{ message }}
    </div>
{% endfor %}

<h1>Изменить: {{ student.name }} {{ student.surname }}</h1>
{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>Ошибка! </strong>{{ message }}
    </div>
{% endfor %}
<form action="/edit?id={{ student.id }}" method="post">
    {% csrf_token %}
    <strong>Имя: </strong> <input class="form-control" type="text" name="name" value="{{ student.name }}"/><br>
    <strong>Фамилия: </strong> <input class="form-control" type="text" name="surname" value="{{ student.surname }}"/><br>
    <strong>E-mail: </strong> <input class="form-control" type="email" name="email" value="{{ student.email }}"/><br>
    <strong>Комната: </strong> <input class="form-control" type="text" name="room" value="{{ student.room }}"/><br>
    <strong>Направление: </strong>
    <select class="form-control" name="course_id">
        <option value="">Нет</option>
        {% for course in courses %}
            <option value="{{ course.id }}" {% if course == student.course %}selected{% endif %}>{{ course.name }}</option>
        {% endfor %}
    </select><br>
    <strong>О себе: </strong> <input class="form-control" type="text" name="about" value="{{ student.about }}"/><br>
    <input type="submit" value="Сохранить">
</form>
{% endblock %}