<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
{% extends 'base.html' %}

{% block title %}Информация об участнике{%  endblock %}

{% block content %}

{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>Ошибка! </strong>{{ message }}
    </div>
{% endfor %}

<a href="/">Назад</a>
<h1>{{ problem.name }}</h1>
<ul>
    <li><strong>Информация о проблеме:</strong> {{ problem.about }}</li>
    <li><strong>Домик:</strong> {{ problem.room }}</li>
    <li><strong>Помощник:</strong> {{ problem.helper }}</li>
    {% if problem.closed == 'on' %}
        <li><strong>Проблема решена:</strong> Да</li>
    {% else %}
        <li><strong>Проблема решена:</strong> Нет</li>
    {% endif %}
    <p>Количество лайков: {{ problem.likes.thumbnumber }}</p> <a href="makelike?id={{ problem.id }}">Поставить лайк</a>
</ul>
<br>


{% endblock %}