{% extends 'base.html' %}

{% block title %}Участники{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="static/search.js"></script>
</head>
<body class="container-fluid">
<a href="/add">Добавить</a>
<h1>Активные жалобы</h1>

<hr>
<ul class="container">
    {% for problem in problems %}
        <li><a href="/problem?id={{ problem.id }}">
            {{ problem.name }}</a>
        </li>
    {% endfor %}
</ul>
</body>
{% endblock %}
