<html>

<head>
    <title>Обо мне</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/Stilee2.css" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap"/>
</head>
<body>
<div class="page1">
    <h2 id="iam">Это я.</h2>

    <img src="static\DSC01791.JPG" id="pic2">

    <h2 id="iam">Я живу в прекрасном городе Череповце.</h2>

    <img src="static\DSC09952.JPG" id="pic2">
    
</div>

</body>
</html>
