
<html>

<head>
    <title>Моя вторая страничка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Stilee2.css" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap"/>
</head>
<body>
<div class="page1">
    <h3 id="site">Добро пожаловать на второй сайт!</h3>

    <h6 class="text1">Всем привет, этот сайт я пишу, находясь в лагере GoTo.</h6>

    <h4 class="text2">Нажав на одну из этих кнопок, вы можете вернуться на первую страницу</h4>

    <a href="http://localhost:8000/" class="button"><stong>Кнопка</strong></a>

    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <a href="#" class="button"><stong>Кнопка</strong></a>
    <br>

    <h2>Если вы вдруг хотите уйти, то вот вам гугл и яндекс</h2>
    <a href="https://www.google.ru/" class="button1"><stong>Goggle</strong></a><br>

    <a href="https://yandex.ru/" class="button2"><stong>Яндекс</strong></a>
</div>

<div class="page2">

</div>

</body>
</html>