{% extends 'index.html' %}
<html>

<head>
    <title>Моя третья страничка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Stilee2.css" href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans&display=swap"/>
</head>
<body>
<div class="page1">

    <img src="\DSC01791.JPG" id="pic2">

    <h2 id="iam">Я живу в прекрасном городе Череповце.</h2>

    <img src="https://yandex.ru/images/search?text=череповец&img_url=https%3A%2F%2Favatars.mds.yandex.net%2Fget-pdb%2F790806%2Fa7688c70-beea-48b0-90cc-dd178ed521ea%2Fs1200&pos=0&rpt=simage&stype=image&lr=156428&parent-reqid=1565691483318075-1565974955918592090500035-vla1-3174&source=wiz" id="pic2">
    
</div>

</body>
</html>