body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}
 /* Надпись приветствия */
#site{
    left:100px;
    text-align: center;
    color: light-gray;
    margin: 20px;
    font-size: 50px;
    position: relative;
    border: 100px;
}

 /* Обозначение первой страницы */
.page1{
    width: 100%,
    height: 100vh;
}

  /* Меню */

.nav_header{
    height: 60px;
    line-height: 60px;
    list-style-type: none;
}

.nav_header_text{
    font-size: 30;
    margin: 20px;
    padding: 0px;
    width: 200px;
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    box-shadow: 30px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 120px;
    text-align: center;
    transition: color .4s linear;
}

.nav_header_text:hover{
    color: yellow;
}

#picture{
    height: 500px;
    position: absolute;
    left: 400px;
}

#second_page{
    width: 300px;
}

.header{
    margin: 20px;
    border-top: 300px;
}